@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@100;200;300;400;500;600;700;800;900;1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:wght@100;200;300;400;500;600;700;800;900;1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

.container-principal {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, #FFF6DA 30.21%, rgba(255, 246, 218, 0.00) 100%);
}

.cabecalho {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
}

.cabecalho img {
    position: relative;
    width: 130px;
}

.cabecalho ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabecalho li {
    list-style: none;
}

.cabecalho li a {
    color: #111;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 800;
    font-size: 22px;
}

.cabecalho li a:hover {
    color: #FC6B3F;
}

.conteudo-box {
    position: absolute;
    width: 100%;
    padding: 0 100px;
}

.conteudo-box .conteudo-texto {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 600px;
    text-align: center;
    
}

.conteudo-texto {
    color: #111;
    font-weight: 800;
    font-size: 2.3em;
}

.conteudo-circle {
    position: relative;
    margin-top: 20px;
    text-align: center;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo-circle img {
    position: relative;
    margin-right: 25px;
}

.conteudo-img {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 0 100px;
}