@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@100;200;300;400;500;600;700;800;900;1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:wght@100;200;300;400;500;600;700;800;900;1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
}

header {
    padding: 20px 100px;
}

.cabecalho {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 1000;
    backdrop-filter: blur(20px);
}

.cabecalho .logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav li {
    position: relative;
    list-style: none;
}

.nav li a {
    text-decoration: none;
    color: #111;
    margin-left: 30px;
    font-weight: 800;
    font-size: 22px;
}

.nav li a:hover {
    color: #FC6B3F;
    transition: 0.2s;
}

.banner {
    background: linear-gradient(180deg, #FFF6DA 30.21%, rgba(255, 246, 218, 0.00) 100%);
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.text-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 600px;
    text-align: center;
}

.text-box h1 {
    font-size: 3.5em;
    font-weight: 800;
    text-align: center;
}

.text-box .circle {
    margin: 30px 0;
}

.circle img {
    position: relative;
    margin-inline: 20px;
}

.text-box a {
    background: #FC6B3F;
    padding: 15px 40px;
    border-radius: 10px;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 22px;
    font-weight: 400;
    cursor: pointer;
}

.img-box {
    position: relative;
    display: flex;
    justify-content: flex-end;
    justify-content: center;
}

.img-box img {
    position: relative;
    display: flex;
}

.about {
    background: linear-gradient(180deg, #FFF6DA 30.21%, rgba(255, 246, 218, 0.00) 100%);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.about-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px 0;
}

section .about {
    margin: 30px 0 0 0;
    
}

.about-img img {
    max-width: 400px;
}

.about-text {
    position: relative;
    font-size: 22px;
    padding: 0 100px;
}

.about-text h3 {
    margin: 30px 0;
}

.about-text span {
    color: #FC6B3F;
}

.about-card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-card-box {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #FC6B3F;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 220px;
    margin: 0 15px;
    padding: 20px;
}

.about-card-box p {
    margin-top: 20px;
}

.depoiments {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #FFF6DA;
}

.depoiments-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 100px 0;
}

.depoiments-content h3 {
    font-weight: 700;
    font-size: 1.5em;
}

.depoiments-content span {
    color: #FC6B3F;
}

.depoiments-athlets {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.depoiments-athlets .depoiments-athlets-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    text-align: center;
    flex-direction: column;
    width: 450px;
    height: 200px;
    background: #FFF;
    margin: 40px 30px 40px 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #FC6B3F;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.depoiments-athlets-box h5 {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.athlets {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.depoiments-athlets-box img {
    position: relative;
}

.depoiments-athlets-box p {
    position: relative;
    color: #727272;
    font-weight: 600;
    font-size: 16px;
}

.add-cart {
    background: #FFF6DA;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.add-cart .add-cart-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.add-cart-box a {
    background: #FC6B3F;
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
    padding: 15px 30px;
    border-radius: 10px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 22px;
    margin: 30px 0 30px 0;
}

.contact {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #FFF6DA;
}

.contact .contact-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 80px 0;
}

.contact-box h2 {
    margin-top: 15px;
}

.contact-box p {
    font-weight: 500;
    margin: 15px 0;
    max-width: 500px;
}

.contact-box a {
    background: #FC6B3F;
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
    padding: 15px 30px;
    border-radius: 10px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 22px;
    margin: 30px 0 30px 0;
    gap: 20px;
}

footer {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: #262525;
    color: #FC6B3F;
    padding: 40px 100px;
}

.footer-box img {
    margin-bottom: 30px;
}

.footer-box p {
    font-size: 16px;
}


@media (max-width: 1307px) {
    .about-card {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .about-card-box {
        margin: 20px 0;
    }
}

@media (max-width: 1040px) {
    header {
        padding: 10px 20px;
    }

    .cabecalho {
        text-align: center;
        width: 100%;
    }

    .banner {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .text-box {
        margin-top: 40px;
    }

    .text-box h1 {
        font-size: 2em;
    }

    .img-box {
        margin-top: 80px;
    }

    .img-box img {
        max-width: 400px;
    }

    .about-text h3 {
        font-size: 20px;
    }

    .depoiments-athlets {
        flex-direction: column;
    }

    footer {
        justify-content: center;
        text-align: center;
    }
}

@media (max-width: 991px) {
    .nav {
        visibility: hidden;
    }

    .text-box h1 {
        font-size: 1.5em;
    }

    .circle {
        display: flex;
    }

    .text-box .btn {
        margin-top: 30px;
    }

    .img-box img {
        max-width: 300px;
    }

    .about-img img {
        max-width: 300px;
    }

}